
{% extends "base.html" %}

{% block content %}

<script >

function on_delete(url,name){

	if(confirm("Do you want to delete address: "+ name+" really?")){
{#		window.location = url;#}
		form_address_restricted_list.action = url;
{#		form_app_list.method = 'delete';#}
		form_address_restricted_list.submit();
	}
}

</script>

{#	{% include "app_list.html" %}#}
	<p>
	Application: <a >{{ app.app_id }} </a>
	</p>

	<form id="form_address_restricted_list" method="post">
{% csrf_token %}


<div>
	<a role="button" class="btn btn-primary btn-sm" href="{% url 'app-address-create' app.id%}"> New Address.. </a>
	<p></p>
</div>


<div>

<table class="table table-bordered table-condensed table-striped table-hover list-device" border="1px">
<th> ID</th>
<th> Name</th>
<th> Address</th>
<th> Mask</th>
<th> Active</th>
<th> Operation</th>
<tbody>
{% for address in object_list %}
	<tr>
	{% url 'app-address-update' address.app.id address.id as address_url %}
		<td>{{ forloop.counter }}</td>
		<td>
			<a href="{{ address_url }}" >
			{{ address.name }}
			</a>
		</td>
		<td>{{ address.address}}</td>
		<td>{{ address.mask}}</td>
		<td> {{ address.is_active }}</td>

		<td>
			<a href="javascript:void(0)" onclick='on_delete("{% url 'app-address-delete' address.id %}", "{{address.name }}")' >delete</a>
		</td>
	</tr>
{% endfor %}

</tbody>

</table>

</div>

</form>


{% endblock %}



