{% extends "base.html" %}


{% block content %}
	{% include "warning_top.html" %}
<h6> 推送受限地址</h6>
<p>
	Application: <a> {{ app.app_id }} </a>
</p>

{% if not form.data %}
	{% url 'app-address-create' app.id as app_url %}
{% else %}
	{% url 'app-address-update' app.id form.data.id as app_url %}
{% endif %}



<form  method="post" action="{{ app_url }}" role="form" class="form-horizontal" >
	{% csrf_token %}

    <div class="form-group" >
        <label for="id_app_id" class="control-label col-md-2">名称</label>
        <div class="col-md-6">
		<input type="text" class="form-control" id="id_name" name="name"
                   maxlength="{{ form.fields.name.max_length }}" value="{{ form.data.name }}">
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-md-2" for="id_address">地址</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_address" name="address" value="{{ form.data.address }}" maxlength="{{ form.fields.address.max_length }}">
        </div>
    </div>
	 <div class="form-group">
        <label class="control-label col-md-2" for="id_mask">掩码</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_mask" name="mask" value="{{ form.data.mask }}" maxlength="{{ form.fields.mask.max_length }}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="id_is_active">启用</label>
        <div class="col-md-6">
            <input type="checkbox" class="form-control"  id="id_is_active" name="is_active"  {{ form.data.is_active|yesno:'checked,,,' }}>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="id_is_black">Is Black</label>
        <div class="col-md-6">
            <input type="checkbox" class="form-control"  id="id_is_black" name="is_black"  {{ form.data.is_black|yesno:'checked,,,' }}>
        </div>
    </div>

	<div class="form-group">
        <label class="control-label col-md-2" for="id_comment">说明</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_comment" name="comment" value="{{ form.data.comment }}" maxlength="{{ form.fields.comment.max_length }}">
        </div>
    </div>



    <div class="form-group">
	{% if not form.data %}
        <button type="submit" class="btn btn-success col-md-2 col-md-offset-1"> create</button>
		{% else %}
        <button type="submit" class="btn btn-success col-md-2 col-md-offset-1" > update</button>
    {% endif %}

    </div>

</form>




{% endblock %}