{% extends "base.html" %}


{% block content %}

<h1>
	Application:
</h1>

{% if not object %}
	{% url 'app-create' as app_url %}
{% else %}
	{% url 'app-detail' object.id as app_url %}

{% endif %}

	{{ errors }}

<form method="post" action="{{ app_url }}" >
	{% csrf_token %}
{#	{{ form.as_table }}#}

	<table>
		<tr>
			<td>{{ form.app_id.label }}</td>
			<td>
			{% if object %}
				{{ object.app_id }}
			{% else %}
			{{ form.app_id }}
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>{{ form.app_name.label }}</td>
			<td>{{ form.app_name }}</td>
		</tr>
		<tr>
			<td>{{ form.is_active.label }}</td>
			<td>{{ form.is_active }}</td>
		</tr>
		{% if object %}
		<tr>
			<td>{{ form.create_time.label }}</td>
			<td>{{ object.create_time|date:"Y-m-d H:i:s" }}</td>
		</tr>
		<tr>
			<td>{{ form.access_id.label }}</td>
			<td>{{ object.access_id }}</td>
		</tr>
		<tr>
			<td>{{ form.secret_key.label }}</td>
			<td>{{ object.secret_key }}</td>
		</tr>
		{% endif %}
	</table>

	{% if not object %}
		<p>
		<input type="submit" value="Create">
		</p>
		{% else %}
		<p>
		<input type="submit" value="Update">
		</p>
{% endif %}

</form>

{% if object %}
<a href="{% url 'app-device-list' object.id %}" target="_blank" > 查看设备列表</a>
{% endif %}


{% endblock %}