{% extends "base.html" %}


{% block content %}

    <div class="alert alert-warning {{ form.errors|default:'hidden' }}">
	{{ form.errors }}
    </div>

<p>
	Application: {{ object.app_id }}
</p>

{#defined variable#}
{% if not object %}
	{% url 'app-create' as app_url %}
{% else %}
	{% url 'app-detail' object.id as app_url %}
{% endif %}




<form  method="post" action="{{ app_url }}" role="form" class="form-horizontal">
	{% csrf_token %}

    <div class="form-group">
        <label for="id_app_id" class="control-label col-md-2">应用标识</label>
        <div class="col-md-6">
            {% if object %}
            <p class="form-control-static">{{ object.app_id}}</p>
            {% else %}
            <input type="text" class="form-control" id="id_app_id" name="app_id"
                   maxlength="{{ form.fields.app_id.max_length }}" value="{{ form.data.app_id }}">
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="id_app_name">应用名称</label>
        <div class="col-md-6">
{#	        {% if object %}#}
{#            <input type="text" class="form-control" id="id_app_name" name="app_name" value="{{ object.app_name }}" maxlength="{{ form.fields.app_name.max_length }}">#}
{#	        {% else %}#}
            <input type="text" class="form-control" id="id_app_name" name="app_name" value="{{ form.data.app_name }}" maxlength="{{ form.fields.app_name.max_length }}">
{#	        {% endif %}#}
        </div>
    </div>
{{ form.object }}

    <div class="form-group">
        <label class="control-label col-md-2" for="id_is_active">启 用</label>
        <div class="col-md-6">
            {% if object %}
            <input type="checkbox" class="form-control"  id="id_is_active" name="is_active"  {{ object.is_active|yesno:'checked,,,' }}>

            {% else %}

            <input type="checkbox" class="form-control"  id="id_is_active" name="is_active"  {{ form.data.is_active|yesno:'checked,,,' }}>
            {% endif %}
        </div>
    </div>

    {% if object %}
    <div class="form-group">
        <label class="control-label col-md-2" for="id_create_time">创建时间</label>
        <div class="col-md-6">
            <p class="form-control-static">{{ object.create_time|date:"Y-m-d H:i:s" }}</p>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="id_access_id">授权令牌</label>
        <div class="col-md-6">
            <p class="form-control-static">{{ object.access_id }}</p>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="id_secret_key">安全秘钥</label>
        <div class="col-md-6">
            <p class="form-control-static">{{ object.secret_key }}</p>

        </div>
    </div>
    {% endif %}

    <div class="form-group">
	{% if not object %}
        <button type="submit" class="btn btn-success col-md-2 col-md-offset-1"> create</button>
		{% else %}
        <button type="submit" class="btn btn-success col-md-2 col-md-offset-1" > update</button>
    {% endif %}

    {% if object %}
    <a href="{% url 'app-device-list' object.id %}" class="form-control-static col-md-2 col-md-offset-3" target="_self" > 查看设备列表</a>
    {% endif %}

    </div>

</form>




{% endblock %}