{% extends "base.html" %}


{% block content %}

<p>
	Application: {{ object.app_id }}
</p>


{% if not object %}
	{% url 'app-create' as app_url %}
{% else %}
	{% url 'app-detail' object.id as app_url %}

{% endif %}

	{{ errors }}

<form  method="post" action="{{ app_url }}" >
	{% csrf_token %}
{#	{{ form.as_table }}#}



	{{ form.app_id.label }}
	{{ form.app_id }}



	{{ form.app_name.label }}
	{{ form.app_name }}




	{{ form.is_active.label }}
	{{ form.is_active }}

		{{ form.create_time.label }}
			{{ form.create_time }}

	<p/>
	{% if object %}

			{{ form.create_time.label }}
			{{ form.create_time }}

{#			{{ object.create_time|date:"Y-m-d H:i:s" }}#}
{#		{{ form.create_time|date:"Y-m-d H:i:s"  }}#}

		{{ form.access_id.label }}
		{{ form.access_id }}
{#		{{ object.access_id }}#}

		{{ form.secret_key.label }}
		{{ form.secret_key }}

{#		{{ object.secret_key }}#}

	{% endif %}



	{% if not object %}
		<p>
		<input type="submit" value="Create" class="btn btn-hg btn-primary">
		</p>
		{% else %}
		<p>
		<input type="submit" value="Update" class="btn btn-hg btn-primary">
		</p>
{% endif %}

</form>

{% if object %}
<a href="{% url 'app-device-list' object.id %}" target="_self" > 查看设备列表</a>
{% endif %}


{% endblock %}