

{% block app_list %}

	<p>
	已注册Applications:
	</p>
<table>
<th> 编号</th>
<th> app_id</th>
<th> app_name</th>
{% for app in object_list %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ app.app_id }} </td>
		<td>{{ app.app_name|urlize}}</td>
		<td>

			<a href="{%  url 'app-detail'  %}" >delete</a>
		</td>
	</tr>
{% endfor %}
</table>


{#<p>#}
  {# topics.paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
  {# 即 range(1, topics.paginator.num_pages + 1) #}
{##}
{#	{% for page_number in paginator.page_range %}#}
{#    {% ifequal page_number  paginator.number %}#}
{#      {{ page_number }}#}
{#    {% else %}#}
{#      <a href="?page={{ page_number }}">{{ page_number }}</a>#}
{#    {% endifequal %}#}
{#  {% endfor %}#}
{#</p>#}


<!-- 另一种分页显示方式 -->
<p>
{% if paginator.has_previous %}
  <a href="?page={{ paginator.previous_page_number }}">Previous</a>
  {% endif %}
  {# topics.paginator.number_pages 返回总页数 #}
  Page {{ paginator.number }} of {{ paginator.num_pages }}.
{% if paginator.has_next %}
  <a href="?page={{ paginator.next_page_number }}">Next</a>
{% endif %}
</p>


{% endblock %}