<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

{#	 <link href="/static/flatui/css/vendor/bootstrap.min.css" rel="stylesheet">#}
	 <link href="/static/flatui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/flatui/css/flat-ui.css" rel="stylesheet">
    <link href="/static/pushmessage.css" rel="stylesheet">

{#    <link rel="shortcut icon" href="/static/flatui/img/favicon.ico">#}
    <link rel="shortcut icon" href="/static/image/koala.ico">

</head>
<body>


    <style>
      body {
        min-height: 2000px;
      }

      .navbar-static-top {
        margin-bottom: 19px;
      }
    </style>

     <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">Push Messaging</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>

{#            <li><a href="#contact">Contact</a></li>#}
	          <li><a href="{% url 'app-list' %}">Apps</a> </li>
			<li><a href="{% url 'app-messaging' %}">Messaging</a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
	           <li><a href="#about">About</a></li>
	          <li><a href="">Profile</a></li>
	          <li><a href="{% url 'logout' %}">Logout </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


{% block title %}
{% endblock %}


<div class="container" >
	<div class="col-md-offset-11 col-sm-offset-11 col-sm-6">
    User: {{ view.request.user.username }}
    </div>
</div>


<div class="container">

<div class="row">
{% block content %}
{% endblock %}
</div>

</div>


<script src="/static/flatui/js/vendor/jquery.min.js"></script>

    <script src="/static/flatui/js/flat-ui.min.js"></script>

    <script src="/static/assets/js/application.js"></script>

</body>
</html>