{% extends "base.html" %}

{% block content %}

	<p>
	<h2>Applications: {{ app.app_id }} </h2>

	</p>

	{#---- list devices of application -----#}
Register Devices:

<table border="1px" bgcolor="#7fffd4">
<tr>
	<th>ID</th>
	<th>Device-ID</th>
	<th>Account</th>
	<th>Tag</th>
	<th>AccessToken</th>
	<th>AccessTime</th>
	<th>Platform</th>
</tr>
{% for dev in object_list %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ dev.device_id }} </td>
		<td>{{ dev.account}}</td>

		<td>{{ dev.tag }}</td>
		<td>{{ dev.access_token }}</td>
		<td>{{ dev.access_time |date:"Y-m-d H:i:s" }}</td>
		<td>{{ dev.platform }}</td>
		</td>
	</tr>
{% endfor %}
</table>





<p>
{#   paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
{#   即 range(1, topics.paginator.num_pages + 1) #}

	{% for page_number in paginator.page_range %}
    {% ifequal page_number  paginator.number %}
      {{ page_number }}
    {% else %}
      <a href="?page={{ page_number }}">{{ page_number }}</a>
    {% endifequal %}
  {% endfor %}
</p>


<!-- 另一种分页显示方式 -->
<p>
{% if paginator.has_previous %}
  <a href="?page={{ paginator.previous_page_number }}">Previous</a>
  {% endif %}
  {# topics.paginator.number_pages 返回总页数 #}
  Page {{ paginator.number }} of {{ paginator.num_pages }}.
{% if paginator.has_next %}
  <a href="?page={{ paginator.next_page_number }}">Next</a>
{% endif %}
</p>


{% endblock %}