<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

	 <link href="/static/flatui/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/flatui/css/flat-ui.css" rel="stylesheet">
    <link href="/static/pushmessage.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/flatui/img/favicon.ico">

</head>
<body>


<div class="container">
    <div style="height: 50px">
    </div>
	<div class="row">
        <div class="col-md-3 col-md-offset-1" >
            <img src="/static/image/koala.png" class="img-rounded">
        </div>
		<div class="col-md-6 col-md-offset-0" >
			<h2>
			消息推送服务
			</h2>
            <p class="control-label">
                Push Messaging
                <br>
               <span style="font-size: small"> Koala 0.1 </span>
            </p>

		</div>


	</div>

	<div style="height: 30px"></div>


	<div class="row">
		<div class="col-md-offset-3 col-md-5">

		<form method="post"  role="form" class="form-horizontal">
			{% csrf_token %}
			<div class="form-group">
					<label class="control-label col-md-2" for="id_username">登录名</label>
					<div class="col-md-offset-2">
						<input type="text" class="form-control" id="id_username" name="username">
					</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2" for="id_password">口令</label>
					<div class="col-md-offset-2">
						<input type="password"  class="form-control" id="id_password" name="password">
					</div>
			</div>
			<div class="form-group">
			<button class="btn btn-primary col-md-offset-2 col-md-10" type="submit" > 登陆</button>
			</div>


		</form>
		</div>

	</div>

	<div class="row">
		<p></p>
		<div class="col-md-offset-4">
			<a href="{% url 'register' %}">注册..</a>
		</div>
	</div>


<div class="row">
	<p></p>
	<div class="col-md-offset-3 col-md-6">
	<p class="bg-warning" style="text-align: center">
	{{ errors.code }}	{{ errors.content }}
	</p>
	</div>
</div>


</div>

</body>
</html>