
{% extends "base.html" %}

{% block content %}

<script >

function on_delete(url,app_id){

	if(confirm("Do you want to delete app: "+ app_id+" really?")){
{#		window.location = url;#}
		form_app_list.action = url;
{#		form_app_list.method = 'delete';#}
		form_app_list.submit();
	}
}

</script>

{#	{% include "app_list.html" %}#}
	<p>
	Registered Applications:
	</p>

	<form id="form_app_list" method="post">
{% csrf_token %}

<table border="1px">
<th> 编号</th>
<th> app_id</th>
<th> app_name</th>
{% for app in object_list %}
	<tr>
	{% url 'app-detail' app.id as app_url %}
		<td>{{ forloop.counter }}</td>
		<td>
			<a href="{{ app_url }}" >
			{{ app.app_id }}
				</a>
		</td>
		<td>{{ app.app_name|urlize}}</td>
		<td>
			<a href="javascript:void(0)" onclick='on_delete("{% url 'app-delete' app.id %}", "{{app.app_id }}")' >delete</a>
{#			<a href="{%  url 'app-msg-test' app.id %}" >test</a>#}
		</td>
	</tr>
{% endfor %}
</table>

</form>

<p>
	<a href="{% url 'app-create' %}"> Create New App.. </a>
</p>

{% endblock %}



