
{% extends "base.html" %}

{% block content %}

<script >

function on_delete(url,app_id){

	if(confirm("Do you want to delete app: "+ app_id+" really?")){
{#		window.location = url;#}
		form_app_list.action = url;
{#		form_app_list.method = 'delete';#}
		form_app_list.submit();
	}
}

</script>

{#	{% include "app_list.html" %}#}
	<p>
	Registered Applications:
	</p>

	<form id="form_app_list" method="post">
{% csrf_token %}


<div>
	<a role="button" class="btn btn-primary btn-sm" href="{% url 'app-create' %}"> New App.. </a>
	<p></p>
</div>


<div>

<table class="table table-bordered table-condensed table-striped table-hover list-device" border="1px">
<th> ID</th>
<th> App Id</th>
<th> App Name</th>
<th> Active</th>
<th> Address Restricted</th>
<th> CreateTime</th>
<th> Operation</th>
<tbody>
{% for app in object_list %}
	<tr>
	{% url 'app-update' app.id as app_url %}
		<td>{{ forloop.counter }}</td>
		<td>
			<a href="{{ app_url }}" >
			{{ app.app_id }}
				</a>
		</td>
		<td>{{ app.app_name|urlize}}</td>
		<td> {{ app.is_active }}</td>
		<td> {{ app.address_restricted }}</td>
		<td> {{ app.create_time|date:"Y-m-d H:i:s"}}</td>
		<td>
			<a href="javascript:void(0)" onclick='on_delete("{% url 'app-delete' app.id %}", "{{app.app_id }}")' >delete</a>
{#			<a href="{%  url 'app-msg-test' app.id %}" >test</a>#}


		</td>
	</tr>
{% endfor %}

</tbody>

</table>

</div>

</form>


{% endblock %}



