{% extends "base.html" %}


{% block content %}

<h6>消息发送测试</h6>
{% include "warning_top.html" %}




<form  method="post" action="{{ app_url }}" role="form" class="form-horizontal">
	{% csrf_token %}

    <div class="form-group">
        <label for="id_target" class="control-label col-md-2">Target Account</label>
        <div class="col-md-6">
             <select data-toggle="select" class="form-control select select-default mrs mbm">
              <option value="0">My Profile</option>
              <option value="1">My Friends</option>
              <option value="2">My Profile</option>
              <option value="3">My Friends</option>

            </select>
        </div>

    </div>


    <div class="form-group">
        <label for="id_target" class="control-label col-md-2">Target Account</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_target" name="account">
        </div>
    </div>

    <div class="form-group">
        <label for="id_title" class="control-label col-md-2">Title</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_title" name="title">
        </div>
    </div>

    <div class="form-group">
        <label for="id_content" class="control-label col-md-2">Content</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="id_content" name="content">
        </div>
    </div>

    <button type="submit" class="btn btn-success col-md-2 col-md-offset-1"> Send...</button>

</form>




{% endblock %}