django1.8
django-db-geventpool
djangorestframework
django-cors-headers
gevent
gevent-psycopg2
greenlet
gevent-websocket
pymongo
PyYAML
qpid
redis
xlrd
xlwt
psycogreen
pycrypto
pycryto-on-pypi

virtual-env
ipython
